html
head
    title Thống kê
    link(rel="stylesheet" href="CSS/main.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/df221e2d29.js" crossorigin="anonymous")  
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(type="text/javascript").
        google.charts.load('current', {packages: ['corechart']});
    
body
    div.wrapper
        div.header
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
                span.navbar-brand Dashboard
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='  #navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='/')
                                | Trang chủ
                                span.sr-only (current)
                        li.nav-item.active
                            a.nav-link(href='/statistical/employees')
                                | Thống kê
                                span.sr-only (current)
                        li.nav-item.active
                            a.nav-link(href='/predict')
                                | Dự báo
                                span.sr-only (current)
                    form.form-inline.my-2.my-lg-0
                        input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
                        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
                    if users
                    p.ml-3.pt-0.mb-0= users.name


        div.left-header 
            div.left-nv
                h5 Dữ liệu
                ul
                    li
                        a(href="/statistical/employees") Nhân viên
            div.left-tk
                h5 Báo cáo thống kê
                ul
                    li
                        a(href="/statistical") Tổng quan dữ liệu
            div.left-tk
                h5 Tài khoản
                ul
                    li
                        a(href="#") Thông tin tài khoản
                    li
                        a(href="#") Đăng xuất
            
        fiv.main 
          .container.pt-3
            block content

    script(type="text/javascript" src="JS/statistical.js")
    script(type="text/javascript" src="JS/predict.js")