extends ../layout.statistical.pug

block content
	h3 Kết quả dự báo
	h4.ml-3 > Dự báo theo phòng ban
	.chart-pre.d-flex
		#chart-department
		table.table.mt-5
			thead
				tr
					th(scope='col') Department
					th(scope='col') AttritionRate (%)
			tbody
				tr
					td Human Resources                  
					td 43.75
				tr
					td Sales
					td 37.14
				tr
					td Research & Development
					td 34

	h4.ml-3 > Dự báo theo chức vụ
	.chart-pre.d-flex
		#chart-jobRole
		table.table.mt-5
			thead
				tr
					th(scope='col') JobRole
					th(scope='col') AttritionRate (%)
			tbody
				tr
					td Sales Executive                  
					td 39.66
				tr
					td Research Scientist
					td 35.8
				tr
					td Laboratory Technician
					td 30.43
				tr
					td Manufacturing Director 
					td 34.38
				tr
					td Healthcare Representative
					td 37.84
				tr
					td Manager
					td 47.37
				tr
					td Sales Representative 
					td 26.32
				tr
					td Research Director
					td 31.58
				tr
					td Human Resources 
					td 40

	h4.ml-3 > Chi tiết dự báo nhân viên
	a.btn.btn-primary(href="/predict/employees").ml-5.mt-3.mr-5.mb-5 Chi tiết dự báo nhân viên